.page.page_onboarding {
    max-width: 374px;
    width: 100%;
    margin: 0 auto;
}

.page.page_404 {
     padding: 100px 0;
}

.page.page_404 h1 {
    font-family: Nunito, sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 1.2;
    text-align: center;
    color: var(--body-color);
}

.page.page_404 h1 > span {
    display: block;
    font-size: 144px;
}

.page.page_meetup-forms {
    padding: 70px 0;
}

.footer {
    padding: 100px 0 60px;
    text-align: center;
}

@media all and (max-width: 767px) {
    .filters-panel {
        flex-direction: column;
    }

    .filters-panel__col + .filters-panel__col {
        margin-top: 16px;
    }

    .page.page_404 h1 {
        font-size: 36px;
    }

    .page.page_404 h1 > span {
        font-size: 108px;
    }
}

@media all and (max-width: 992px) {
    .page.page_meetup-forms {
        padding: 48px 0;
    }

    .container {
        padding: 0 16px;
    }
}

@media all and (max-width: 480px) {
    #filters-panel__search {
        width: calc(100% - 112px);
    }

    #filters-panel__search > .form-control {
        max-width: 100%;
    }
}

