.meetup {
    display: flex;
    flex-direction: column;
    margin: 48px 0 0;
}

.meetup-description {
    padding-top: 33px;
}

.meetup__content p {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 28px;
    white-space: pre-wrap;
}

.meetup__aside {
    margin: 40px 0;
}

.meetup__aside-buttons {
    padding: 0 0 0 34px;
    margin-top: 16px;
}

.meetup__aside-buttons > .button {
    margin: 0 10px 10px 0;
}

@media all and (min-width: 992px) {
    .meetup {
        flex-direction: row;
    }

    .meetup__content {
        flex: 1 0 calc(100% - 350px);
    }

    .meetup__aside {
        flex: 1 0 350px;
        padding: 50px 0 0 44px;
        margin: 0;
    }

    .meetup__empty {
        height: 340px;
    }
}
